<div id="background_wrapper" style="background-image: url({{recipe.image}}); height: 100%; width: cover; background-size: cover;">
<div class="recipe_background" style="background-color: rgba(255, 255, 255, .7); width: 250px; height: 150px; text-align: center; margin: auto; padding-top: 50px; padding-bottom: 150px; border: 3px double green;">
<h3>{{recipe.name}}</h3>

<p>{{recipe.recipe}}</p>
</div>
</div>
